/* Mobile first: default styles */

* {
  margin: 0;
}

body {
  font-size: 16px;
}

/*Färgpalett*/

:root {
  --color-primary: #64b5f6;
  --color-primary-dark: #1565c0;
  --color-primary-light: #bbdefb;
  --color-white: #f4f4f4;
  --color-black: #1e1e1e;
  --color-grey: #ccc;
}
/* Darkmode */
button {
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
.dark-mode {
  background-color: #1a1a1a;
  color: #ffff;
}
.dark-mode button:hover{
  background-color: #4a4a4a;
}
.mode-icon {
  width: 24px;
  height: 24px;
}

/*Header*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid var(--color-grey);
}

.logo {
  height: 50px;
}

/*Meny*/

#menu {
  display: none;
}

#menu open {
  display: block;
}

/* Larger screens: add more styling */

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}
